<!Doctype html>


<html>
  <head>
  	<meta charset="UTF-8">
    <title>Bibli Control Panel</title>    
    <!--
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	-->
	<script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>	
	
	<script language="javascript" type="text/javascript">
		
		
		function Button_onclick(direction) {
			$.ajax({ url: '/' + direction });
		}	

		function Button_movie(movie) {
			$.ajax({ url: '/movie/' + movie });
		}	

	</script> 
  </head>
	<body>
		<h1>Bibli Control</h1>		
		<img id="vdostream" src="{{ url_for('video_feed') }}" alt="Video stream off">

		<script language="javascript" type="text/javascript">

		function vdo_stm(vds)
		{
			var vdsm = document.getElementById("vdostream");
			if(vds==1)
			{
				vdsm.src="{{ url_for('video_feed') }}"
			}
			else if(vds==0)
			{
				vdsm.src="..."
			}
		}
		</script>
		<br>
		<input id="streamON" type="button" value="StreamON" onclick="vdo_stm(1)" />
		<input id="streamOFF" type="button" value="StreamOFF" onclick="vdo_stm(0)" />
		<br>
		<br>


		<table>
			<tr>
				<td colspan="3" style="text-align: center">
					Control
				</td>
				<td colspan="2" style="text-align: center">
					Nonuse
				</td>
			</tr>
			<tr>
				<td colspan="3" style="text-align: center">
					<input id="btnUp" type="button" value="Forward(W)" accesskey="w" onclick="Button_onclick('f')" />
				</td>
				<td colspan="2" style="text-align: center">
					<input id="btnFwd" type="button" value="AutoDrive(V)" accesskey="v" onclick="Button_onclick('v')" />
				</td>
			</tr>
			<tr>
				<td style="text-align: center">
					<input id="btnLeft" type="button" value="Left(A)" accesskey="a" onclick="Button_onclick('l')" />
				</td>
				<td style="text-align: center">
					<input id="btnCtr" type="button" value="Stop(E)" accesskey="e" onclick="Button_onclick('s')" />
				</td>
				<td style="text-align: center">
					<input id="btnRight" type="button" value="Right(D)" accesskey="d" onclick="Button_onclick('r')" />
				</td>
				<td style="text-align: center">
					<input id="btnMLeft" type="button" value="Video_play" onclick="Button_movie('p')" />
				</td>
				<td style="text-align: center">
					<input id="btnMRight" type="button" value="Video_pause" onclick="Button_movie('o')" />
				</td>
			</tr>
			<tr>
				<td colspan="3" style="text-align: center">
					<input id="btnDown" type="button" value="Reverse(S)" accesskey="s" onclick="Button_onclick('b')" />
				</td>
				<td colspan="2" style="text-align: center">
					<input id="btnRev" type="button" value="NA" onclick="Button_onclick('reverse')" />
				</td>
			</tr>
		</table>
<br>
		Keyboard Control:<input id="keyctrl" type="button", value="KeyOn" />
<br>
<br>
		
		Bibli say: <input id="Biblisay" type="text" name ="saytext" size="40" />
		
		<script language="javascript" type="text/javascript">

		function Button_saysth() {
			var msg = document.getElementById("Biblisay").value;
			$.ajax({ url: '/saysth/' + msg });
		}	
		
		var keyevent = [99,99];
		$("#keyctrl").keydown(function(event){
			
			keyevent[0] = keyevent[1];
			keyevent[1] = event.which;
			//console.log(keyevent);
			if (keyevent[0] != keyevent[1]){
				//console.log('different');
			if (event.which==87) 
				{Button_onclick('f')}
			else if (event.which==65)
				{Button_onclick('l')}
			else if (event.which==68)
				{Button_onclick('r')}
			else if (event.which==83)
				{Button_onclick('b')}
			else if (event.which==69)
				{Button_onclick('s')}
			else if (event.which==86)
				{Button_onclick('v')}
			}
		});
		$("#keyctrl").keyup(function(event){
			keyevent = [99,99];
			if (event.which==87) 
				{Button_onclick('s')}
			else if (event.which==65)
				{Button_onclick('s')}
			else if (event.which==68)
				{Button_onclick('s')}
			else if (event.which==83)
				{Button_onclick('s')}
			else if (event.which==69)
				{Button_onclick('s')}
			else if (event.which==86)
				{Button_onclick('v')}

		});
		</script>
		<input id="btnmsg" type="button" value="Send" onclick="Button_saysth()" />
	</body>
</html>
